*.log
*.lod
*.exe
*.dll
*.dod
*.dlv
*.blv
*.ddm
*.bin
*.pcx
*.zip
*.rar
*.html
*.htm
*.bmp
*.png
*.jpg
*.jpeg
*.gif
*.vid
*.bat
*.thmx
*.ico
*.xml
*.mp3
*.odm
mywork/
MMMergeLog.txt
MMMergeLog.1.txt
MMMergeLog.2.txt
TxtEdit.ini